@import './modals.scss';
@import './parallax.scss';
@import './login.scss';
@import './cart.scss';

:root{
	--black:black;
	--white:white;
	--colorBonito:rgba(31,31,44,0.8);
	--colorBonitoBg:rgba(31,31,44,1);
	--green:#4baa42;
	--royal:royalblue;
	--antiquewhite:antiquewhite;
	--brown:brown;
}

html{
	width: 100%;
	height: 100%;
}

body{
	background-image: url('../img/parallax.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}